.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: .9rem;
	background-color: #DDE2E7;
	color: #010e18;
	text-align: center;
}

.nav h2 {
	padding: .3rem 0 .2rem .9rem;
}

.nav ul {
	list-style: none;
}



